.jumbotron {
  background-color: #f5de0f;
  color: black;
  margin-top: 50px;
  margin-botton: 10px;
}

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-botton: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #d10808;
  margin-top: 10px;
  margin-botton: 0px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
