$yellow: #f5de0f;
$green: #0dd11a;
$red: #d10808;

@mixin margenes($top, $botton){
	margin-top: $top;
	margin-botton: $botton;
}

.jumbotron{
	background-color: $yellow;
	color: black;
	@include margenes(50px, 10px);
}

.btn{
	
	
}

.card-hotel{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	@include margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
	
}

.footer-address-icon{
	padding-right: 10px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $red;
	@include margenes(10px, 0px);
}

.tab-content {
	padding-top: 10px;
}
